/*GXP STYLES*/
/*Above comment is used to identify gxp stylesheet
for example rendering - PLEASE DO NOT DELETE*/

.content {
    height: auto;
}
.content > div {
    display: flex;
    justify-content: center;
    overflow: auto;
}
.vertical-align > div {
    height: 100%;
    align-items: center;
}
.center-element > div > * {
    width: 380px!important;
}
.full-element > div > * {
    width: 780px!important;
}
