/*GXP STYLES*/
/*Above comment is used to identify gxp stylesheet
for example rendering - PLEASE DO NOT DELETE*/

.content {
    height: auto;
}

.example.atom > div,
.example.molecule > div {
/*
    height: 100%;
    display: flex;
    align-items: center;
*/
}

.example.atom > div > *,
.example.molecule > div > * {
    margin: 0 auto;
/*    min-width: 320px;*/
}
