@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/*GLOBAL STYLES*/
/*Above comment is used to identify global stylesheet
for example rendering - PLEASE DO NOT DELETE*/

body,
div,
header,
main,
footer,
section,
aside,
article,
nav,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
dfn,
blockquote,
th,
td,
figure,
hr,
input,
select,
option,
optgroup {
    margin: 0;
    padding: 0;
}

header,
main,
footer,
section,
aside,
article,
nav {
    display: block;
}

fieldset,
img,
hr,
abbr,
acronym,
input,
select {
    border: 0 none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
input,
select {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

:focus {
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    line-height: 1.8;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font: 500 1.6em/1.4 'Open Sans', 'Arial', 'Helvetica', 'Sans-Serif';
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: #FFF;
    color: #2b3133;
}

a {
    display: block;
    font: bold 14px 'Open Sans';
    color: #00aeef;
    text-decoration: none;
}
